.instituicoes{
    width: 100%;
    height: 730px;
    background-image: url(../../Images/BGInstituicoes.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.txt{
    width: 35%;
    margin-left: 130px;
    margin-top:110px ;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}
.txt h1 {
    font-size: 40px;

}

.txt p{
font-size: 25px;
}