.ApoiadoresPt2{
    background-color:#EBDFAB;
    width: 100%;
    height:700px;
    display:flex;
    flex-direction:column;
    /* margin: auto; */
}

.ApoiadoresPt2 h1{
    font-size:50px;
    font-weight:bold;
    text-align:center;
    padding-top:80px;
}

.containerMercados{
    /* background-color:blue; */
    margin: auto;
    width: 55%;
    height: 500px;;
    display: flex;
    flex-direction:column;
  justify-content: center;
  align-items: center;
}

.Mercados{
width: 100%;
height: 200px;
display: flex;
justify-content: space-evenly;
  align-items: center;
/* background-color: red; */
}


.divVermelha{
    width: 20%;
    height: 130px;
    background-color:#EB5E36;
    border:2px solid #EB5E36;
    border-radius: 5px;
    box-shadow:0px 0px 5px black;
}

.divAmarela{
    width: 20%;
    height: 130px;
    background-color:#FF9900;
    border:2px solid #FF9900;
    border-radius: 5px;
    box-shadow:0px 0px 5px black;
} 