.Home {
    width:100%;
    height:757px;
    background-image:url(../../Images/BGHome3.png);
    background-repeat: no-repeat;
    background-size:100%;
    background-position:bottom;
}

.div1{
    /* background: blue; */
    float: left;
    width: auto;
    height: auto;
    margin-left:10%;
    margin-top: 6%
}

.div2{
    /* background-color: green; */
    float: left;
    width: auto;
    text-align:center;
    font-size:35px;
    padding-top: 12%;
    padding-left: 9%;
    font-weight: bolder;
    
}