.page1 {
    width: 100%;
    margin: auto;
    height: 730px;
    display: flex;
    background-image: url(../../Images/VoluntarioPt1.png);
    background-repeat: no-repeat;
    background-size: 100% 86%;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding-top: 100px;
}

.txt h1 {
    width: 35%;
    position: absolute;
    z-index: 3;
    padding-top: 18%;
    padding-left: 10%;
    font-size: 40px;

}

.txt h2 {
    width: 35%;
    position: absolute;
    z-index: 3;
    padding-top: 28%;
    padding-left: 10%;
    font-size: 40px;
    color: white;
}

.container_imagem{
    margin-left: 60%;
    margin-top: 15%;
}