.page2{
    height: 1167px;
    display: flex;
    flex-direction: row;
    background-color: rgb(187, 255, 244);
}

.motorista1{
    position: absolute;
    margin-top: 55%;
    margin-left: 10%;
}

.motorista1 img{
    width: 80%;
}

.txt2{
    background-color: #FD4A0A;
    width: 25%;
}

.txt2 h1{
    padding-top: 50%;
    padding-left: 50%;
    position: absolute;
    width: 10%;
    
}
