.page2{
    height: 1167px;
    display: flex;
    flex-direction: row;
    /* background-color: rgb(187, 255, 244); */
}

.motorista1{
    position: absolute;
    margin-top: 55%;
    margin-left: 15%;
}

.motorista1 img{
    width: 80%;
}

.txt2 {
    background-color: #FD4A0A;
    margin-top: 52%;
    margin-right: 120px;
    width: 25%;
    margin-left: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: justify;
    position: absolute;
    z-index: 1;
}

.txt2 h1{
    width: 40%;
    color: white;
    font-size: 25px;
}

.txt2 p{
    width: 70%;
    color: white;
}