.Home {
    width:100%;
    height:757px;
    background-image:url(../../Images/BGHome3.png);
    background-repeat: no-repeat;
    background-size:100%;
    background-position:bottom;
}

.div1{
    /* background: blue; */
    float: left;
    width: auto;
    height: auto;
    margin-right:190px;
}

.div2{
    /* background-color: green; */
    float: left;
    width: auto;
    text-align:center;
    font-size:35px;
    padding-top: 125px;
    
}