.Home{
width:100%;
height:1161px;
background-image:url(../../Images/BGHome4.png);
background-repeat: no-repeat;
background-size: 100%;
}

.container_imagens{
    background-color: red;
    width: 100%;
    height: 100px;

}